<app-nav-bar></app-nav-bar>
<section class="title--content">
  <div class="title">
    <h1>Casa da Montanha</h1>
  </div>
</section>
<section class="blog--container">
  <app-youtube-videos class="main--videos"></app-youtube-videos>
  <app-blog-library class="section--library"></app-blog-library>
  <main class="news">
    <app-blog-news class="news--blog"></app-blog-news>
    <app-blog-news class="news--blog"></app-blog-news>
    <app-blog-news class="news--blog"></app-blog-news>
    <app-blog-news class="news--blog"></app-blog-news>
    <app-blog-news class="news--blog"></app-blog-news>
    <app-blog-news class="news--blog"></app-blog-news>
    <app-blog-news class="news--blog"></app-blog-news>
    <app-blog-news class="news--blog"></app-blog-news>
    <app-blog-news class="news--blog"></app-blog-news>
  </main>
  <app-contact-us class="section--contact"></app-contact-us>
  <app-footer class="footer"></app-footer>
</section>
